.divMainContent{
  height: 90vh;
  width:100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.AddSignH2{
  width: 100vw;
  display: flex;
  align-items: flex-start;
  margin: 2% 0 4% 5%;
}

.Form{
  margin-top: 5%;
  width: 90%;
}

.formSignSettings{
  width: 90%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}

.divSignNameSettings, .divCarBrandSettings, .divTimeSettings{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-right: 3%;
  padding: 0;
}

.Period{
  display: flex;
  flex-direction: row;
  width: 45%;
  padding-top: 7%;
  justify-content: space-around;
}

.TimeTo, .TimeFrom{
  opacity: 20%;
}


.SignName, .SignNumber, .CarBrand, .TimeTo, .TimeFrom{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-top: 3%;
}

.SignName label, .SignNumber label, .CarBrand label, .TimeFrom label, .TimeTo label{
  padding-bottom: 5%;
  font-size: 105%;
}


.SignName input[type=text], .SignNumber input[type=text], .CarBrand input[type=text], .TimeTo input[type=date], .TimeFrom input[type=date]{
  padding: 4%;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px #77777794;
}

.CarBrand input[type=date]{
  padding: 3.2%;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px #77777794;
}

.divButton{
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;

}

.btAdd{
  text-align: center;
  border-radius: 5px;
  width: 20%;
  height: 100%;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 3px 5px 1px #77777794;
  margin-right: 5%;

  padding: 1%;
}
