@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

main {
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.aboutAPERTA-title, .bottom-title-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 5vh;
    text-align: center;
}

.aboutAPERTA-content {
    width: 60vw;
}

.about-hr {
    width: 100%;
    color: lightgray;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
}

.about-desc {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 2vh;
    text-align: justify;
    width: 60vw;
}

.top-wrapper, .bottom-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-subtitle-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-top: 1vh;
    text-align: center;
}

.bottom-video {
    margin-top: 2vh;
}

.button-wrapper, .bottom-video {
    display: flex;
    justify-content: center;
} 

.aboutAPERTA-button {
    margin-top: 3.5vh;
    background-color: #b90504;
    color: #faf6ea;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
    font-size: 0.9rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 6pt;
    transition: all 0.5s ease;
  }
  
  .aboutAPERTA-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255,1);
    background-color: rgb(255, 10, 10);
  }
  
  .aboutAPERTA-btn-content {
    transition: transform 0.5s ease;
  }
  
  .aboutnAPERTA-btn-text {
    display: inline-block;
  }
  
  .aboutnAPERTA-icon-arrow-right {
    vertical-align: middle;
    margin-left: 1vw;
    font-size: 1.3rem;
  }
  