<div class="KeyPadSettings">
  <div class="KeyPad">
    <div class="KeyPadName">Key-Pad</div>
    <div class="KeyPadPic">
      <img src="../../../assets/keypad.png" alt ="Key Pad"/>
    </div>
    <div class="KeyPadCheckbox">
      <div class="CheckActive">
        <img src="../../assets../../assets/checkmark-outline.svg" alt="Checkmark" />
      </div>
      <div class="CheckInactive">
        <img src="../../../assets/close-outline.svg" />
      </div>
    </div>
  </div>
  <div class="CurrentCode">
    <label name="lbCurrentCode">Current Code:</label>
    <label class="numpadCode" name="txCurrentCode" >{{numpadCode}}</label>
  </div>
  <div class="NewCode">
    <label name="lbNewCode">New Code: </label>
    <input name="lbNewCode" type="text" placeholder="43**2">
  </div>
  <div class="divButton">
    <button class="btDelete" name="btDelete">Delete</button>
    <button class="btSave" name="btSave">Save</button>
  </div>
</div>
