.checkout-button a {
    color: #fff !important;
    text-decoration: none;
}

.checkout-button a:visited {
    color: #fff !important;
    text-decoration: none;
}

.product-link {
    text-decoration: none;
}

.product-link:visited {
    color: black;
    text-decoration: none;
}

.c-content-wrapper{
    margin-top: 2rem;
    width: 100% !important;
}

.MuiGrid-spacing-xs-6 {
    margin: 0 !important;
}

.details-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 2rem;
}

.subtotalText {
    display: flex;
    font-weight: 600;
    font-size: 1.2rem;
}

.button-wrapper {
    display: flex;
}

.cart-content-wrapper {
    width: 80vw !important;
}

/* Primary Button - Checkout Button */
.checkout-button {
    background-color: #b90504;
    color: #faf6ea;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
    font-size: 1rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    border-radius: 6pt;
    margin-left: 1vw;
}

.checkout-button:hover {
    cursor: pointer;
}

.checkout-btn-content {
    transition: transform 0.5s ease;
}

/* Secondary Button - Empty Button */
.empty-button {
    /* background-color: #b90504; */
    background-color: #fff;
    border: 1px solid #B3ADAD;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
    font-size: 0.85rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    border-radius: 6pt;
}
  
.empty-button:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.2);
    transition: all 0.5s ease;
}

.empty-button:hover > .checkout-btn-text {
    transition: all 0.5s ease;
    color: #A10403;
}

.empty-btn-text {
    color: #b90504;
}
