
/*Aperta CSS*/


.divMainContent{
  height: 90vh;
  width:100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.divLeftContent, .divRightContent{
  display: flex;
  flex-direction: column;
  width: 49%;
  margin-right: 0;
  height: 100%;
}

.divMainContent h1, .divMainContent h2{
  margin-left: 5%;
  padding-top: 2%;
}

.divMainContent h2{
  margin-bottom: 6%;
  margin-top: 3%;
}

.formProfileSettings{
  width: 98%;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3%;
  padding: 0;
}

.divNameSettings, .divPersonalSettings{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
}


.Firstname, .Lastname, .Birthday, .Phonenumber, .City, .Postcode{
  display: flex;
  flex-direction: column;
  width: 45%;
  padding-top: 3%;
}

.Firstname label, .Lastname label, .Birthday label, .Phonenumber label, .City label, .Postcode label{
  padding-bottom: 7%;
  font-size: 105%;
}


.Firstname input[type=text], .Lastname input[type=text], .Phonenumber input[type=tel], .City input[type=text], .Postcode input[type=number]{
  padding: 4%;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px #77777794;
}

.Birthday input[type=date]{
  padding: 3.2%;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px #77777794;
  background-color: white;
  width: 93%;
}

.divButton{
  width: 95%;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  margin-top: 5%;
  padding-right: 3%;
  margin-right: 5%;
}

.divButton a{
  text-transform: none;
  text-decoration: none;
}

.divButton a:visited{
  color: black;
}

.btSubscribe{
  text-align: center;
  border-radius: 5px;
  width: 20%;
  height: 80%;
  text-decoration: none;
  background-color: white;
  border: none;
  border-radius: 30px;
  box-shadow: 2px 3px 5px 1px #77777794;
}

.horizontalLine{
  width: 98%;
  position: relative;
  left: 3%;
  border: 1px solid #858585;
  border-radius: 5px;
  opacity: 30%;
}

.divMoreSettings{
  width: 85%;
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 2%;
  margin-top: 4%;
  align-items: center;
  font-size: 120%;
}

.divMoreSettings a{
  text-decoration: none;
  text-transform: none;
}

.divMoreSettings a:visited{
  color: black;
}

.verticalLine{
  height: 98%;
  position: relative;
  left: 0%;
  border-left: 2px solid #858585;
  opacity: 30%;
}

.divActiveSigns{
  width: 90%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  overflow: auto;
  padding: 3%;
}

.divActiveSigns app-sign{
  margin-bottom: 2%;
  margin-top: 0;
}

.ActiveSignh2 h2{
  padding: 3% 0 2% 2%;
  margin: 0;
}


.horizontalLineRight{
  width: 98%;
  position: relative;
  right: 1%;
  border: 1px solid #858585;
  border-radius: 5px;
  opacity: 30%;
}

.divMore{
  width: 95%;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: 1px solid red;
  margin-bottom: 3%;
}

.Components{
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 0;
  border-radius: 5px;
  box-shadow: 2px 3px 5px 1px #77777794;
}

.ComponentsName{
  text-align: center;
  font-size: 120%;
}

.ComponentPic{
  width: 50%;
  height: 60%;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.ComponentPic img{
  transform: scale(0.5)
}

.MoreCheckbox{
  width: 45%;
  height: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}

.CheckActive, .CheckInactive{
  width: 40%;
  height: 90%;
  margin-right: 2%;
  border: 0;
  border-radius: 3px;
  box-shadow: 2px 3px 5px 1px #77777794;
  font-size: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CheckActive img, .CheckInactive img{
  transform: scale(0.5);
}

.SignActive, .CheckActive{
  background-color: #7EEB90;
}

.SignInactive, .CheckInactive{
  background-color: #FF7E7E;
  opacity: 20%;
}

.Moreh2 h2{
  padding: 2% 0 2% 2%;
  margin: 0;
}

.Moreh2{
  height: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 3% 0;
}

.Moreh2 .divButton{
  height: 50%;
  width: 21.5%;
  margin: 0% 2%;
}

.Moreh2 .divButton .btSubscribe{
  height: 90%;
  width: 100%;
}
