<div class="content">
  <div class="leftSide">
    <div class="logo">
      <h1>APERTA</h1>
    </div><!--Verlinkung auf Benjamin-->
  </div>
  <div class="pageList">
    <div class="page"><a href="keyPadSettings">Key Pad</a></div>
    <div class="page"><a href="signSettings">Sign</a></div>
    <div class="page"><a href="">NFC</a></div>
    <div class="page"><a href="profile"><img src="../../../assets/profil.png"> </a></div>
    <div class="page"><a href="login">Login</a></div>
  </div>

</div>


