.content{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
}

.leftSide{
  width: 50%;
  height:10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.aperta{
  margin:0;
  padding: 0;
  transform: scale(0.1);
}

.logo h1{
  margin:0;
  padding:0;
  color: black;
  margin-left: 50%;
}

.pageList{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-right: 2%;
}

.page{
  min-width: 15%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120%;
  color: #B90504;
}


.page a{
  text-decoration: none;
  text-transform: none;
}

.page a:visited{
  color: #B90504;
}

.page img{
  transform: scale(0.5);
}
