
<div class="container">
  <div class="divMainContent">
    <div class="divLeftContent">
      <h1>Sign Settings</h1>
      <h2>Active Signs</h2>
      <div class="divActiveSigns">
        <app-sign></app-sign>
        <app-sign></app-sign>

        <app-sign></app-sign>



        <div class="divButton">
          <button class="btAddMore" name="AddMore"><a href="/addSign">Add More</a></button>
        </div>
      </div>
    </div>
    <div class="verticalLine"></div>

    <div class="divRightContent">

      <div class="Form">
        <h2>Options</h2>
        <form class="formSignSettings" name="formProfileSettings">

          <div class="divSignNameSettings">
            <div class="SignName">
              <label name="lbSignName">Sign Name</label>
              <input name="txSignName" type="text" placeholder="Name">
            </div>
            <div class="SignNumber">
              <label name="lbSignNumber">Sign</label>
              <input name="txSignNumber" type="text" placeholder="LL 1111 ZZ">
            </div>

          </div>
          <div class="divCarBrandSettings">
            <div class="CarBrand">
              <label name="lbCarBrand">Car Brand</label>
              <input name="txCarBrand" type="text" placeholder="Car Brand">
            </div>
            <div class="Period">
              <label name="lbPeriod">Set Period</label>
              <input name="Period" type="checkbox">
            </div>
          </div>
          <div class="divTimeSettings">
            <div class="TimeFrom">
              <label name="lbFrom">From</label>
              <input name="txFromTime" type="date">
            </div>
            <div class="TimeTo">
              <label name="lbTo">To</label>
              <input name="txToTime" type="date">
            </div>
          </div>
          <div class="divButton">
            <button class="btDelete" name="btDelete">Delete</button>
            <button class="btSave" name="btSave">Save</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
