.rmv-button {
    margin-top: 3.5vh;
    /* background-color: #b90504; */
    border: 1px solid #B3ADAD;
    color: #fff;
    font-weight: 700;
    width: fit-content;
    white-space: nowrap;
    font-size: 0.8rem;
    padding-left: 1.15rem;
    padding-right: 1.15rem;
    padding-top: 0.65rem;
    padding-bottom: 0.65rem;
    border-radius: 6pt;
  }
  
  .rmv-button:hover {
    cursor: pointer;
    background-color: rgba(200, 200, 200, 0.4) !important;
  }
  
  .rmv-btn-content {
    transition: transform 0.5s ease;
  }

  .rmv-btn-text {
    display: inline-block;
    color: #b90504;
  }
  
  .rmv-button:hover > .rmv-btn-content {
    transform: scale(1.1);
    
  }